---
import Menu from '../components/menu.astro';

// import "../styles/global.css";
---
<html>
    <body>
        <Menu/>
        <script>
                import "../scripts/global.js";
        </script>
    </body>
</html>
