---
import Navigation from '../components/nav.astro';

// import "../styles/global.css";
---
<html>
    <body>
        <Navigation/>
        <script>
                import "../scripts/global.js";
        </script>
    </body>
</html>
