<html>
  <head>
    <style>
      #footer {
        margin-top: 3vh;
        /* margin-bottom: ; */
      }
      .fa-brand,
      .fa {
        color: var(--color-menu-text);
      }
      .fa-brand:hover,
      .fa:hover {
        color: var(--color-menu-hover);
        cursor: pointer;
      }

      #footer {
        position: absolute;
        width: 100vw;
        text-align: center;
        padding-bottom: 2%;
      }

      .fa {
        margin-left: 0.2em;
        margin-right: 0.2em;
      }

      .fa:hover {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div id="footer">
      <i
        class="fa fa-brands fa-github fa-lg"
        onclick="location.href='https://github.com/josephinel6'"></i>
      <i
        class="fa fa-brands fa-discord fa-lg"
        onClick="location.href = 'https://discordapp.com/users/886433195904602112'"
      ></i>
      <i
        class="fa fa-envelope fa-lg"
        onClick="location.href='mailto:mailjosephinel@gmail.com'"></i>
    </div>
  </body>
</html>
