---
import "../styles/global.css";
---

<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />

    <style>
      #topbar {
        width: 100%;
        height: 8%;
        background-color: var(--color-bg);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        vertical-align: middle;
        /* justify-content: right; */
        align-items: center;
        color: var(--color-icons);
      }

      #day-night {
        color: var(--color-menu-text);
        z-index: 2;
        position: absolute;
        right: 1.5vw;
      }

      #home {
        color: var(--color-menu-text);
        position: absolute;
        left: 1.5vw;
      }

      .fa:hover {
        cursor: pointer;
        color: var(--color-menu-hover);
      }
    </style>
  </head>
  <body>
    <div id="topbar">
      <i class="fa fa-home fa-lg" id="home" onclick="location.href='/'"></i>
      <i class="fa fa-sun fa-lg" id="day-night"></i>
    </div>

    <script>
      document.querySelector("#day-night").addEventListener("click", () => {
        if (localStorage.getItem("user-theme") === "dark") {
          localStorage.setItem("user-theme", "light");
        } else {
          localStorage.setItem("user-theme", "dark");
        }
        document.documentElement.className = localStorage.getItem("user-theme");
      });
    </script>
  </body>
</html>
