---
// import { ImageMetadata } from "astro";
import Image from "astro/components/Image.astro";
const { title, desc, img, tools, url } = Astro.props;
console.log("Test");
console.log(tools);

// const images = import.meta.glob<{ default: ImageMetadata }>(
//   "/src/content/images/*.{jpeg,jpg,png,gif}",
// );
---

<html>
  <head>
    <style>
      .project-listing {
        /* height: 80vh;
        overflow-y: hidden; */
        color: var(--color-text);
        max-height: 80vh;
        /* height: 100%; */
      }

      /* .nested:hover {
        cursor: pointer;
        background-color: var(--color-obj-hover);
      } */

      .nested:hover {
        cursor: pointer;
      }

      img {
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      .nested {
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 0.5em;
        /* height: 100%; */
        background-color: var(--color-obj-bg);
        height: 100%;
      }

      .project-listing-title {
        font-size: 2em;
      }

      .project-listing-desc {
        font-size: 1em;
        margin-bottom: 0;
        overflow-y: hidden;
      }

      .tool-logo {
        height: 4vh;
        width: fit-content;
        margin-right: 0.3em;
      }

      @media screen and (max-width: 800px) {
        .tool-logo {
          height: 2vh;
        }
      }

      .col {
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <div class="project-listing col">
      <div class="nested" onclick={"location.href='" + url + "'"}>
        <!-- <Image src={images[img]()} alt="Thumbnail" /> -->
        <!-- <Image src={import("/src/content/projects/" + img)} alt="Thumbnail" /> -->
        <img src={"/src/content/projects/" + img} />
        <h3 class="project-listing-tit le">{title}</h3>
        <p class="project-listing-desc">{desc}</p>
        {
          tools.map((tool) => (
            <img
              class="tool-logo"
              onclick={"location.href='/tools/" + tool + "'"}
              src={"/public/logos/" + tool + ".svg "}
            />
          ))
        }
      </div>
    </div>
  </body>
</html>
