---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" href="/public/logo.png" type="image/x-icon" /> -->

    <link rel="icon" href="../../public/logo.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Josephine's Portfolio</title>
    <style>
      body {
        margin-top: 9vh;
      }
    </style>
  </head>
  <body>
    <!-- <Navigation/> -->
    <Header />
    <slot />
    <Footer />
  </body>
</html>
